<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/index.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <header><h1>Whiteboard<h1></header>

    <article>
      <canvas id="canvas" width="700" height="500"></canvas>
    </article>

    <footer>
      <button id="black"></button>
      <button id="red"></button>  
      <button id="blue"></button>  
      <button id="yellow"></button>
      <button id="green"></button>
      <button id="white"></button>
      <slider id="slider"><slider>  
    </footer>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="js/drawing.js"></script>
  </body>
</html>