<html>

  <head>

    <link rel="stylesheet" href="/stylesheets/index.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <meta charset="utf-8">

  </head>

  <body>

    <header><h1>Whiteboard<h1></header>

    <article>
      <canvas id="canvas" width="700" height="500"></canvas>
    </article>

    <footer>
      <button class="button" id="black">1</button>
      <button class="button" id="red">1</button>  
      <button class="button" id="blue">1</button>  
      <button class="button" id="yellow">1</button>
      <button class="button" id="green">1</button>
      <button class="button" id="white">1</button>
      <button id="line">1</button>
    </footer>

    <script src='/socket.io/socket.io.js'></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="js/drawing.js"></script>

  </body>

</html>