<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>

    <header><h1>Whiteboard<h1></header>

    <article></article>

    <aside></aside>

    <footer>
    <button id="red"></button>  
    <button id="blue"></button>  
    <button id="yellow"></button>
    <button id="green"></button> 
    </footer>

  </body>
</html>